<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="kas.apps.trukman" android:installLocation="auto" android:versionName="1.1" android:versionCode="2">
	<uses-sdk android:minSdkVersion="15" android:targetSdkVersion="23" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.VIBRATE" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.VIBRATE" />
	<uses-permission android:name="android.permission.GET_ACCOUNTS" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
	<permission android:protectionLevel="signature" android:name="kas.apps.trukman.permission.C2D_MESSAGE" />
	<uses-permission android:name="kas.apps.trukman.permission.C2D_MESSAGE" />
	<uses-permission android:name="android.permission.CAMERA" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-feature android:glEsVersion="0x00020000" android:required="true" />
	<application android:label="TRUKMAN" android:largeHeap="true" android:icon="@drawable/icon" android:name="md5e78cf67154f813ad1778fd0eea157033.MainApplication" android:allowBackup="true" android:debuggable="true">
		<activity android:name="com.trukman.ui.pdfactivity">
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="application/pdf" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.SEND" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="application/pdf" />
			</intent-filter>
		</activity>
		<!-- Put your Google Maps V2 API Key here. -->
		<!-- KAS map key -->
		<!-- <meta-data android:name="com.google.android.geo.API_KEY" android:value="AIzaSyCgJE-QQq6qht1tNZ1W-qVLJEHbrTYd94" /> -->
		<!-- DKG map key -->
		<!-- Ключ для debug версии -->
		<!--<meta-data android:name="com.google.android.geo.API_KEY" android:value="AIzaSyBMQ-Lvsvw3ogHchfLH7AI57ug0muLz-Q8" />-->
		<!-- Ключ для release-версии -->
		<!-- <meta-data android:name="com.google.android.geo.API_KEY" android:value="AIzaSyCvqWDeNEC01qBaZUGFHM0JZvZBGTIbYTg" /> -->
		<!-- Ключ для HOME debug версии -->
		<meta-data android:name="com.google.android.geo.API_KEY" android:value="AIzaSyAnnCN2nhWxLnzpBiJw0VHmd-KkGsSakfE" />
		<!-- Ключ для HOME release версии -->
		<!-- <meta-data android:name="com.google.android.geo.API_KEY" android:value="AIzaSyAJ1rediA1KBZAytTLifchS11542xoSA58" /> -->
		<receiver android:name="parse.ParsePushBroadcastReceiver" android:permission="com.google.android.c2dm.permission.SEND">
			<intent-filter>
				<action android:name="com.google.android.c2dm.intent.RECEIVE" />
				<action android:name="com.google.android.c2dm.intent.REGISTRATION" />
				<category android:name="kas.apps.trukman" />
			</intent-filter>
		</receiver>
		<service android:name="parse.ParsePushService" />
		<meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />
		<activity android:label="OCRActivity" android:name="md5760529cf3a11b0a47c752ad00e373c0c.OCRActivity" />
		<service android:name="md5760529cf3a11b0a47c752ad00e373c0c.LocationService" />
		<activity android:configChanges="orientation|screenSize" android:icon="@drawable/icon" android:label="TRUKMAN" android:name="md5e78cf67154f813ad1778fd0eea157033.MainActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<receiver android:name="md5a3d95eab3a12c4749fd3c7dee5454ff8.TrukmanBootReceiver">
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED" />
				<action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
			</intent-filter>
		</receiver>
		<service android:name="md5a3d95eab3a12c4749fd3c7dee5454ff8.TrukmanService" />
		<provider android:name="mono.MonoRuntimeProvider" android:exported="false" android:initOrder="2147483647" android:authorities="kas.apps.trukman.mono.MonoRuntimeProvider.__mono_init__" />
		<!--suppress ExportedReceiver-->
		<receiver android:name="mono.android.Seppuku">
			<intent-filter>
				<action android:name="mono.android.intent.action.SEPPUKU" />
				<category android:name="mono.android.intent.category.SEPPUKU.kas.apps.trukman" />
			</intent-filter>
		</receiver>
		<activity android:name="net.hockeyapp.android.UpdateActivity" />
		<activity android:name="net.hockeyapp.android.FeedbackActivity" />
		<activity android:name="net.hockeyapp.android.PaintActivity" />
		<activity android:name="net.hockeyapp.android.LoginActivity" />
		<activity android:name="net.hockeyapp.android.ExpiryInfoActivity" />
		<activity android:name="net.hockeyapp.android.UpdateActivity" />
		<activity android:name="net.hockeyapp.android.FeedbackActivity" />
		<activity android:name="net.hockeyapp.android.PaintActivity" />
		<activity android:name="net.hockeyapp.android.LoginActivity" />
		<activity android:name="net.hockeyapp.android.ExpiryInfoActivity" />
	</application>
</manifest>